
pre,
pre *{
    font-family: "Courier New" !important;
}

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif !important;
}

pre {
    font-size: 16px;
    font-family: 'Courier New' !important;
    background: darkblue;
    color: white;
    padding: 25px;
    margin: 50px;
}

table,
tr {
    background:transparent;
}

h1 {
    padding: 0px 50px;
}

table.grid,
.preview.grid {
    margin: 0 auto !important;
}

table.grid td{
    box-sizing: border-box;
    width:16px;
    height:16px;
    border:1px solid black;
}

.preview.grid {
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
}

/*
.preview.grid td{
    border:0px solid transparent !important;
}
*/

label{
    font-size:12px;
    width:90px;
    text-align:right;
    padding:0px 10px;
}


.RedHead{
     background: url(img/RedHead.png);
 }
.Spike{
    background: url(img/Spike.png);
}
.Meat{
    background: url(img/Meat.png);
}
.Key{
    background: url(img/Key.png);
}
.LionBoss{
    background: url(img/LionBoss.png);
}
.FallingTile{
     background: url(img/FallingTile.png);
}
.Boots{
    background: url(img/Boots.png);
}

.RedHead,
.Spike,
.Meat,
.Key,
.LionBoss,
.FallingTile,
.Boots{
    background-size:100% 100%;
}