
pre,
pre *{
    font-family: "Courier New" !important;
}

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif !important;
}

pre {
    font-size: 16px;
    font-family: 'Courier New' !important;
    background: darkblue;
    color: white;
    padding: 25px;
    margin: 50px;
}

table,
tr {
    background:transparent;
}

h1 {
    padding: 0px 50px;
}

table.grid,
.preview.grid {
    margin: 0 auto !important;
}

table.grid td{
    box-sizing: border-box;
    width:16px;
    height:16px;
    border:1px solid black;
}

.preview.grid {
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
}

.preview.grid td{
    border:0px solid transparent !important;
}